.Nav{
    background-color: rgba(0, 0, 0, 0.452);
    height: 12vh;
    position: absolute;
    width: 100%;
}
.Nav>div.arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    border-radius: 100px;
    margin-left: 3.5%;
}
.arrows>img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    width:60%;
    border-radius: 100px;
}