.song{
    width: 100%;
    background-color: #1d1d1d;
    height: 89px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    margin-top: 16px;
}
.song>p{
    padding: 1%;
}
.song>.number{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin-left: -10%;
}
